@import "_nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

$maxWidth: 1200;
/*Ширина полотна макета без px*/
@mixin adaptiv-font($pcSize, $mobSize) { 
$addSize: $pcSize - $mobSize;
$addMobSize: $addSize + $addSize * 0.7; 
    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize}* ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}
//================================================================================================
body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    @include adaptiv-font (22, 18);
    color: #000;
    font-weight: 400;
    background-color: #fff;
}

body.lock {
	overflow: hidden;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;

    position: relative;
    z-index: 2;
}

.fullscreen {
    & img {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

//================================================================================================
.header {
    flex: 0 1 100px;
    & img {
        width: 40px;
    }
    margin-bottom: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    border-bottom: 2px solid #000;

    &__logo {
        display: flex;
        align-items: center;
        gap: 10px;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        &:hover {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }
    }

    &__text {
        text-transform: uppercase;
        font-weight: 700;
        color: #000;
    }
}

//================================================================================================
.main {
    flex: 1 1 auto;
}

.swiper {
    position: static;

    &__buttons {
        position: absolute;
        width: 100px;
        height: 40px;
        top: -90px;
        right: 0px;
    }

    &__button-prev, &__button-next {
        & img {
            transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 0;
}

//================================================================================================

.main {
    padding: 0 30px;

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    &__search {
        padding: 4px;
        border-radius: 5px;
        background-color: #fff;
        border: 2px solid #000;
        display: flex;
    }

    &__input {
        padding: 5px;
        width: 100%;
    }

    &__button {
        padding-left: 5px;
        background-color: #fff;
        border-left: 2px solid #000;
        & img {
            width: 30px;
            transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__buttons {
        display: flex;
        gap: 10px;
        padding: 5px 0;
        margin-left: 10px;
    }

    &__filter {
        display: flex;
        align-items: center;
        background-color: transparent;
        border-radius: 5px;
        border: 2px solid #000;

        & img {
            padding-right: 7px;
            width: 42px;
        }

        &-by {
            transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
            font-weight: 500;

            overflow: hidden;
            opacity: 0;
            position: relative;
            left: -100%;
        }
        max-width: 38px;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

        &:hover{
            background-color: #fff;
            max-width: 120px;
            .main__filter-by{
                padding: 0 4px; 
                opacity: 1;
                position: relative;
                left: 0;
            }
        }
        &:active {
            background-color: #00000083;
        }
        @media (max-width: 479.98px) {
            background-color: #fff;
            max-width: 120px;
            .main__filter-by{
                padding: 0 4px; 
                opacity: 1;
                position: relative;
                left: 0;
            }
        }
    }

    &__add-note {
        margin-right: 4px;
        background-color: transparent;
        padding: 0 2px;

        & img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            background-color: transparent;
        }

        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

        &:hover {
            & img {
                border-radius: 50%;
                background-color: #fff;
            }
            transform: rotate(360deg);
        }
        &:active img {
            background-color: #00000083;
        }
    }
}

//================================================================================================
.main {

    &__notes {
    }

    &__note {
        display: flex;
        flex-direction: column;

        background-color: #8a8a8a89;
        border: 2px solid #000;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 10px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-weight: 700;
        @include adaptiv-font (24, 20);
    }

	&__top-buttons {
        padding-left: 3px;
        display: flex;
        align-items: center;
        gap: 7px;
	}

	&__delete {
        background-color: transparent;
        width: 38px;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
            &:hover {
                transform: scale(1.1);
            }
	}


    &__change {
        background-color: transparent;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
            &:hover {
                transform: scale(1.1);
            }
    }

    &__text {
        line-height: 1.2;
        margin-bottom: 8px;
        @include adaptiv-font (20, 16);
    }

    &__date {
        font-weight: 500;
        @include adaptiv-font (18, 14);
    }
}

.smaller-text {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем текст, который не помещается в блок */
    text-overflow: ellipsis; /* Добавляем троеточие в конце обрезанного текста */
    width: 100%; /* Задаем фиксированную ширину блока */
}

.large-textarea {
    margin-bottom: 8px;
    @include adaptiv-font (20, 16);
    background-color: #ffffff22;
    border-radius: 10px;
    resize: none;
    overflow: hidden;
    width: 100%;
    padding: 5px;
}

.small-input {
    margin-bottom: 5px;
    font-weight: 700;
    @include adaptiv-font (20, 16);
    background-color: #ffffff22;
    border-radius: 10px;
    resize: none;
    overflow: hidden;
    width: 50%;
    padding: 5px;
}

.highlight-span {
    color: red;
}
//================================================================================================
.task {

		&__menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
		}

		&__calendar {
		}

		&__calendar-btn {
            background-color: #fff;
            padding: 5px 7px;
            border: 2px solid #000;
            border-radius: 10px;
            display: flex;
            gap: 7px;
            align-items: center;
            & img {
                width: 40px;
            }

            &:hover {
                .task__calendar-txt {
                    transform: scale(1.05);
                }
            }
		}

        &__calendar-txt {
            transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
            font-weight: 600;
            color: #000;
            @media (max-width: 479.98px) {
                display: none;
            }
        }

		&__btns {
            display: flex;
            align-items: center;

            gap: 10px;
            padding: 5px 0;
            margin-left: 10px;
		}

		&__filter {
            display: flex;
            align-items: center;
            background-color: transparent;
            border-radius: 5px;
            border: 2px solid #000;
    
            & img {
                padding-right: 7px;
                width: 42px;
            }
    
            &-by {
                transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
                font-weight: 500;
    
                overflow: hidden;
                opacity: 0;
                position: relative;
                left: -100%;
            }
            max-width: 38px;
            transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    
            &:hover{
                background-color: #fff;
                max-width: 120px;
                .task__filter-by{
                    padding: 0 4px; 
                    opacity: 1;
                    position: relative;
                    left: 0;
                }
            }
            &:active {
                background-color: #00000083;
            }

            @media (max-width: 479.98px) {
                background-color: #fff;
                max-width: 120px;
                .task__filter-by{
                    padding: 0 4px; 
                    opacity: 1;
                    position: relative;
                    left: 0;
                }
            }
        }

		&__add-note {
            margin-right: 4px;
            background-color: transparent;
            padding: 0 2px;
    
            & img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                background-color: transparent;
            }
    
            transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    
            &:hover {
                & img {
                    border-radius: 50%;
                    background-color: #fff;
                }
                transform: rotate(360deg);
            }
            &:active img {
                background-color: #00000083;
            }
        }

        //================================================================================================

		&__items {
        }
    
        &__item {
            transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
            display: flex;
            gap: 5px;

            background-color: #8a8a8a89;
            border: 2px solid #000;
            border-radius: 10px;
            margin-bottom: 10px;
            padding: 10px;
        }

        &__checkbox {
            cursor: pointer;
            align-self: flex-start;
        }
    
        &__info {
            width: 100%;
        }
    
        &__text {
            line-height: 1.1;
            margin-bottom: 10px;
        }
    
        &__bottom {
            display: flex;  
            justify-content: space-between;
            align-items: center;
        }
    
        &__date {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }
    
        &__bottom-buttons {
            display: flex;
            gap: 7px;
        }
    
        &__change {
            transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
            background-color: transparent;
            width: 40px;
            &:hover {
                transform: scale(1.1);
            }
        }
    
        &__delete {
            transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
            background-color: transparent;
            width: 40px;
            &:hover {
                transform: scale(1.1);
            }
        }
}

.checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;

    &:checked + .custom-checkbox::before {
        transform: translate(-50%,-50%) scale(1);
    }

    &:focus + .custom-checkbox {
        box-shadow: 0px 0px 1px 1px #626262a3;
    }
}
.custom-checkbox{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 4px;
    margin-top: 1px;

    &::before {
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        background: url("../img/tick.svg") center no-repeat;
        background-size: contain;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0);
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    } 
}

.task__item-deadlined {
    background-color: rgba(159, 56, 56, 0.452);
}

.active-checkbox-parent {
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.task__item {
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    &.moving-down {
        transform: translateY(-80%);
    }
    &.moving-top {
        transform: translateY(80%);
    }
}

.textArea-task {
    margin-bottom: 10px;
    @include adaptiv-font (20, 16);
    background-color: #ffffff22;
    border-radius: 10px;
    resize: none;
    overflow: hidden;
    width: 100%;
    padding: 5px;
}

.inputDate-task {
    margin-bottom: 5px;
    @include adaptiv-font (20, 16);
    background-color: #ffffff22;
    border-radius: 10px;
    resize: none;
    overflow: hidden;
    width: 50%;
    padding: 5px;
}

//================================================================================================
.popup {
    position: fixed;
    z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

    &.open {
        opacity: 1;
	    visibility: visible;
        & .popup__content {
            left: 0;
            opacity: 1;
        }
    }

    &__area {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.8s ease 0s;
    }

    &__content {
        position: relative;
        background-color: #fff;
        border-radius: 18px;
        color: #000;
        max-width: 500px;
        padding: 30px 40px 30px 30px;
        position: relative;
        transition: all 0.8s ease 0s;
        opacity: 0;
        left: -100%;
        @media (max-width: 480.98px) {
            padding: 10px 10px 10px 7px;
        }
    }

    &__close {
        &:before, &:after {content: ""; position: absolute; right: 10px; top: 18px; width: 20px; height: 2px; background: #000;}
        &:before {transform: rotate(45deg);}
        &:after {transform: rotate(-45deg);}
    }

    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        text-align: center;
        color: #0D0D2B;
        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    &__info {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    &__prev {
        background-color: transparent;
        position: relative;
        display: inline-block;
        width: 30px;
        height: 30px;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-right: 20px solid #000;
            transform: translateY(-50%);
        }
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        &:hover {
            transform: scale(1.3);
        }
    }

    &__table {
        display: flex;
        flex-direction: column;
        align-items: center;

        border: 2px solid #000;
        border-radius: 5px;
    }

    &__month-year {
        padding: 5px;
        font-weight: 600;
    }

    &__days {
        overflow: hidden;
        padding: 5px;
        border-top: 2px solid #000;
        & td {
            min-width: 55px;
            text-align: center;
            padding: 5px 15px;
            border: 1px solid #000;
            @media (max-width: 480.98px) {
                padding: 5px 7px;
            }
        }
    }

    &__next {
        background-color: transparent;
        position: relative;
        display: inline-block;
        width: 30px;
        height: 30px;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 20px solid #000;
            transform: translateY(-50%);
        }
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        &:hover {
            transform: scale(1.3);
        }
    }

}
